# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
.output/
.vinxi/

# Database
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Misc
*.log
*.tsbuildinfo
